* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "navbar navbar"
    "sidebar main"
    "sidebar footer";
}

.navbar {
  grid-area: navbar;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #bdbdbd;
  padding: 12px 30px;
  z-index: 1;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 8px 0;
}

.navbar > .logo {
  display: flex;
  gap: 3px;
  justify-content: flex-start;
  align-items: flex-end;
}

.navbar .logo-icon {
  width: 55px;
}

.navbar .logo-name {
  width: 209px;
}

.sidebar {
  grid-area: sidebar;
  position: sticky;
  top: 79.8px;
  align-self: flex-start;
  min-height: calc(100vh - 80px);
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
