@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.sidebar {
  border-right: 1px solid #bdbdbd;
  display: flex;
  flex-direction: column;
  z-index: 0;
  justify-content: space-between;
}

.link-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.link-item a {
  display: flex;
  padding: 0 10px;
  gap: 9px;
  padding: 10px 30px;
  transition: background-color 0.3s;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: center;
}

.link-item {
  list-style: none;
  border-radius: 15px;
}

.link-item:hover {
  background-color: #ebf1ff;
  cursor: pointer;
}

.link-item:active {
  background-color: rgb(163, 185, 250);
}

.link-item #dashboard,
#money-icon,
#budget-icon,
#logout-icon {
  width: 24px;
}

/* .link-item:first-child > svg {
    color: #1A7DEB;
} */

.links {
  font-size: 16px;
  padding: 25px 41px 25px 19px;
}

body {
  font-family: "Poppins", sans-serif;
}

.links label {
  text-transform: uppercase;
  vertical-align: bottom;
}

.links .expenses-name a,
.budget-name a {
  text-decoration: none;
  color: black;
}

.link-item > a {
  text-decoration: none;
  /* color: #1A7DEB;
    vertical-align: bottom; */
  color: black;
  vertical-align: bottom;
}

.link-item > #dashboard-link {
  color: #1a7deb;
}

.sidebar-logout {
  padding: 25px 41px 25px 19px;
}

.sidebar-logout a:visited {
  color: black;
}

.logout-container {
  padding: 10px 30px;
  display: flex;
  gap: 9px;
  border-radius: 10px;
  transition: background-color 0.3s;
  text-decoration: none;
  color: black;

}

.logout-container:hover {
  background-color: #ebf1ff;
  cursor: pointer;
}

.logout-container:active {
  background-color: rgb(163, 185, 250);
}

.logout-container label:hover {
  cursor: pointer;
}

.logout-container:visited {
  color: black;
}
